name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate stats
        uses: anuraghazra/github-readme-stats@master
        with:
          username: SachinChougule10
          show_icons: true
          theme: radical
          output: assets/github-stats.svg

      - name: Commit changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add assets/github-stats.svg
          git commit -m "Update GitHub stats" || echo "No changes"
          git push
