name: Generate GitHub Stats

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate GitHub stats SVG
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: SachinChougule10
          template: classic
          base: header, activity, community, repositories
          config_timezone: Asia/Kolkata
          output: github-metrics.svg

      - name: Commit and push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add github-metrics.svg
          git commit -m "Update GitHub stats" || echo "No changes"
          git push
